@font-face {
	font-family: 'Greycliff';
	font-weight: 700;
	src: local('Greycliff-Bold'), url('./Greycliff-Bold.otf');
}

@font-face {
	font-family: 'Greycliff';
	font-weight: 400;
	src: local('Greycliff-Regular'), url('./Greycliff-Regular.otf');
}

body {
	background: #E0DBE6;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Greycliff';
	font-weight: 700;
	color: #392757;
}

p {
	font-family: 'Greycliff';
	font-weight: 700;
	color: #392757;
	font-size: 14px;
}

a {
	text-decoration: none;
}
