.main {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.card {
	max-width: 100%;

	padding: 1.2rem 2rem;
	background: white;
	border-radius: 45px;
}

.spacer {
	opacity: 0;
	height: 1.2em;
}

.button {
	background: #8E61D6;
	border-radius: 1rem;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.btn_title {
	color: white;
	font-weight: 700;
}

.icon {
	width: 18px;
	height: 15px;
}
